/2038764.png
/761767.png
/analysis.txt
/Antigravity.exe
/app.py
/backus.png
/cancelar-icono-pedido-paquete_116137-7904.jpg
/check_excel.py
/check_excel2.py
/check_excel3.py
/DASH BACKUS.pbix
/DASH BACKUS_2.pbix
/dashboard_backus.py
/data_analysis.txt
/DATA_PRUEBA.xlsx
/DETALLE OTIF v.02_FINAL_1.xlsx
/EXCEL OTIF
/images.png
/inspect_data.py
/inspect_manuales.py
/inspect_manuales2.py
/inspect_output.txt
/inspect_output2.txt
/logo backus.png
/parcial.png
/pedidos.png
/Sales Analysis Insights.json
/slides_app.py
/Theme.json